@media (min-width: 320px) {
  .battle-display-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #14181f, #0c3d55); }
  .battle-display-container .menu-drop-down {
    height: 10vh;
    display: flex;
    justify-content: space-around; }
  .battle-display-container .menu-drop-down .ghost-div {
    width: 7px;
    height: 30px;
    margin: 0 0 0 25px; }
  .battle-display-container .menu-drop-down .logo-wrapper {
    height: 10vh;
    width: 33.3vw;
    display: flex;
    align-items: center; }
  .battle-display-container .menu-drop-down .logo-wrapper img {
    height: 36px;
    width: 30px;
    margin: 0; }
  .battle-display-container .menu-drop-down .logo-wrapper h3 {
    font-weight: 700;
    letter-spacing: 0.9px;
    color: #FFF;
    margin: 2.5px 12.5px; }
  .battle-display-container .menu-drop-down img {
    height: 30px;
    width: 7px;
    margin: 25px 0 0 25px; }
  .battle-display-container .battle-activity-container {
    height: 70vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .battle-display-container .battle-activity-container .search-container .search-opponent {
    display: flex;
    justify-content: center;
    width: inherit; }
  .battle-display-container .battle-activity-container .search-container .search-opponent .search-icon-wrapper {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .battle-display-container .battle-activity-container .search-container .search-opponent .search-icon-wrapper img {
    position: relative;
    height: 20px;
    width: 20px;
    opacity: 1; }
  .battle-display-container .battle-activity-container .search-container h5 {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    margin: 15px 0; }
  .battle-display-container .nav-bar {
    display: block;
    height: 10vh;
    background: rgba(255, 255, 255, 0.3); }
  .battle-display-container .nav-bar .nav-btn-container {
    display: flex;
    justify-content: space-around;
    height: 9vh; }
  .battle-display-container .nav-bar .nav-btn-container button {
    width: 50px;
    height: 50px; }
  .battle-display-container .nav-bar .nav-btn-container .nav-btn {
    position: relative;
    width: 25vw;
    height: 15vw;
    margin: 5px 0 0 0; }
  .battle-display-container .nav-bar .nav-btn-container .nav-btn .search-icon {
    height: 20px;
    width: 20px; }
  .battle-display-container .nav-bar .nav-btn-container .nav-btn .trophy-icon {
    height: 35px;
    margin: -15px 0 0 0; }
  .battle-display-container .nav-bar .nav-btn-container .nav-btn .provoke-icon {
    height: 25px; }
  .battle-display-container .nav-bar .nav-btn-container .nav-btn .button-highlight {
    position: absolute;
    left: 0;
    top: 7px;
    height: 40px;
    width: 200px; }
  .battle-display-container .nav-bar .nav-btn-container .separator {
    height: 7vh;
    width: 3px;
    margin: 2vw 1vw;
    background: #0b364c;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px; }
  .battle-display-container .nav-bar .nav-btn-container .ghost-separator {
    height: 7vh;
    width: 3px;
    margin: 1vw; } }
