.original-bg-colour {
  background: linear-gradient(to bottom right, #836a20, #ce4036); }

.reverse-bg-colour {
  background: linear-gradient(to top left, #836a20, #ce4036); }

.silver-colour {
  color: silver; }

.bronze-colour {
  color: #CD7F32; }

@media (min-width: 320px) {
  .menu-drop-down {
    height: 20vh;
    display: flex;
    justify-content: space-around; }
    .menu-drop-down .ghost-div {
      width: 7px;
      height: 30px;
      margin: 0 0 0 25px; }
    .menu-drop-down .logo-wrapper {
      height: 10vh;
      width: 33.3vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      .menu-drop-down .logo-wrapper img {
        height: 36px;
        width: 30px;
        margin: 0; }
      .menu-drop-down .logo-wrapper h3 {
        font-weight: 700;
        letter-spacing: 0.9px;
        color: #FFF;
        margin: 2.5px 12.5px; }
    .menu-drop-down img {
      height: 30px;
      width: 7px;
      margin: 25px 0 0 25px; }
  .activity-name-wrapper {
    position: relative;
    height: 10vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .activity-name-wrapper .battle-cover-img {
      height: 80px;
      width: 90px;
      opacity: 0.3; }
    .activity-name-wrapper .white-gradient {
      position: absolute;
      height: 20px;
      width: 200px;
      background: white;
      opacity: 0.65; }
    .activity-name-wrapper h3 {
      position: relative;
      top: 15px;
      font-weight: 700;
      letter-spacing: 0.8px;
      color: #8d562e; }
  .activity-container {
    height: 70vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .activity-container .search-container .search-opponent {
      display: flex;
      justify-content: center;
      width: inherit; }
      .activity-container .search-container .search-opponent .search-icon-wrapper {
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .activity-container .search-container .search-opponent .search-icon-wrapper img {
          position: relative;
          height: 20px;
          width: 20px;
          opacity: 1; }
    .activity-container .search-container h5 {
      position: relative;
      color: rgba(255, 255, 255, 0.7);
      margin: 15px 0; }
  .nav-bar {
    display: block;
    height: 10vh;
    background: white; }
    .nav-bar .horizontal-line {
      height: 3px;
      width: 90vw;
      margin: 0 5vw;
      background: silver; }
    .nav-bar .nav-btn-container {
      display: flex;
      justify-content: space-around;
      height: 9vh; }
      .nav-bar .nav-btn-container .nav-btn {
        width: 30vw;
        height: 15vw;
        margin: 5px 0 0 0; }
        .nav-bar .nav-btn-container .nav-btn .person-icon {
          height: 25px; }
        .nav-bar .nav-btn-container .nav-btn .trophy-icon {
          height: 40px;
          margin: -15px 0 0 0; }
        .nav-bar .nav-btn-container .nav-btn .provoke-icon {
          height: 30px; }
      .nav-bar .nav-btn-container .separator {
        height: 7vh;
        width: 3px;
        margin: 1vw;
        background: silver; }
      .nav-bar .nav-btn-container .ghost-separator {
        height: 7vh;
        width: 3px;
        margin: 1vw; } }
