@media (min-width:320px) {
  .battle-display-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
    .menu-drop-down {
      height: 10vh;
      display: flex;
      justify-content: space-around;
      .ghost-div {
        width: 7px;
        height: 30px;
        margin: 0 0 0 25px;
      }
      .logo-wrapper {
        height: 10vh;
        width: 33.3vw;
        display: flex;
        align-items: center;
        img {
          height: 36px;
          width: 30px;
          margin: 0;
        }
        h3 {
          font-weight: 700;
          letter-spacing: 0.9px;
          color: #FFF;
          margin: 2.5px 12.5px;
        }
      }
      img {
        height: 30px;
        width: 7px;
        margin: 25px 0 0 25px;
      }
    }
    .battle-activity-container {
      height: 70vh;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-container{
        .search-opponent{
          display: flex;
          justify-content: center;
          width:inherit;
          .search-icon-wrapper {
            width: 50px;
            height: 50px;
            border: 2px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              position: relative;
              height: 20px;
              width: 20px;
              opacity: 1;
            }
          }
        }
        h5 {
          position: relative;
          color: rgba(255,255,255,0.7);
          margin: 15px 0;
        }
      }

    }
    .nav-bar {
      display: block;
      height: 10vh;
      background: rgba(255,255,255, 0.3);
      .nav-btn-container {
        display: flex;
        justify-content: space-around;
        height: 9vh;
        button{
          width: 50px;
          height: 50px;
        }
        .nav-btn {
          // background: silver;
          position: relative;
          width: 25vw;
          height: 15vw;
          margin: 5px 0 0 0;
          .search-icon {
            height: 20px;
            width: 20px;
          }
          .trophy-icon {
            height: 35px;
            margin: -15px 0 0 0;
          }
          .provoke-icon {
            height: 25px;
          }
          .button-highlight {
            position: absolute;
            left: 0;
            top: 2.5px;
            height: 40px;
            width: 200px
          }
        }
        .separator {
          height: 7vh;
          width: 3px;
          margin: 2vw 1vw;
          background: hsl(200,75,17);
          border-top-left-radius: 1px;
          border-top-right-radius: 1px;
          border-bottom-left-radius: 1px;
          border-bottom-right-radius: 1px;
        }
        .ghost-separator {
          height: 7vh;
          width: 3px;
          margin: 1vw;
        }
      }
    }
  }
}
