.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.uk-margin-large {
  margin: 0; }

.uk-form-horizontal {
  height: 90vh; }

.top-container {
  display: flex;
  height: 10vh; }

.top-container .back-btn-wrapper {
  z-index: 1;
  width: 30vw;
  height: 10vh;
  margin: 1vh 0 0 2.5vw;
  display: flex;
  align-items: center; }

.top-container .back-btn-wrapper .back-btn {
  display: inline-flex;
  justify-content: center; }

.top-container .back-btn-wrapper .back-btn img {
  height: 15px;
  margin: 5px 0 0 10px; }

.top-container .back-btn-wrapper .back-btn h5 {
  margin: 2px 0 0 10px; }

.top-container .logo-signup-wrapper {
  position: fixed;
  height: 10vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }

.top-container .logo-signup-wrapper img {
  height: 36px;
  width: 30px; }

.top-container .logo-signup-wrapper h3 {
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #0c3d55;
  margin: 0 0 0 12.5px; }

.form-container {
  display: flex;
  position: relative;
  height: 90vh; }

.form-container .input-container {
  margin: 50px 0; }

.form-container .input-container .social-media-input {
  display: flex; }

.form-container .input-container .social-media-input img {
  margin: 0 -2.5vw 0 5vw;
  height: 20px;
  width: 20px; }

.form-container .input-container .social-media-input .uk-form-label {
  font-size: 16px;
  margin: 0 0 1vh 5vw; }

.form-container .input-container .sub-header {
  font-size: 12px;
  margin: 0 0 7.5vh 5vw; }

.form-container .input-container .sub-header_included {
  font-size: 12px;
  margin: 0 0 5vh 5vw; }

.form-container .input-container .uk-margin {
  margin: 0 5vw; }

.form-container .input-container .uk-margin .uk-input {
  border: none;
  width: 340px; }

.form-container .input-container .uk-margin .input-line {
  height: 1px;
  width: 90vw;
  background: #E2E2E2; }

.form-container .input-container .uk-margin .twitter-handle-input {
  width: 80vw;
  margin: 0 0px 0 10px; }

.form-container .input-container .uk-form-controls {
  display: flex; }

.form-container .input-container .uk-form-controls .at-html-entity {
  font-size: 25px;
  margin: 5px 0 0 0;
  z-index: 1;
  color: grey; }

.form-container .input-container .uk-form-controls .division-line {
  margin: 10px 0 0 10px;
  height: 21px;
  width: 2px;
  background: grey; }

.form-container .input-container .centered-description {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.form-container .input-container .centered-description label {
  font-size: 20px;
  font-weight: 800; }

.form-container .confirm-btn {
  position: fixed;
  bottom: 10px;
  font-size: 21px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 2.5vw;
  width: 95vw;
  height: 45px;
  color: white;
  background: #007AFF; }
