@media (min-width: 320px) {
  .champ-display-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #14181f, #0c3d55); }
  .champ-display-container .menu-drop-down {
    height: 10vh;
    display: flex;
    justify-content: space-around; }
  .champ-display-container .menu-drop-down .ghost-div {
    width: 7px;
    height: 30px;
    margin: 0 0 0 25px; }
  .champ-display-container .menu-drop-down .logo-wrapper {
    height: 10vh;
    width: 33.3vw;
    display: flex;
    align-items: center; }
  .champ-display-container .menu-drop-down .logo-wrapper img {
    height: 36px;
    width: 30px;
    margin: 0; }
  .champ-display-container .menu-drop-down .logo-wrapper h3 {
    font-weight: 700;
    letter-spacing: 0.9px;
    color: #FFF;
    margin: 2.5px 12.5px; }
  .champ-display-container .menu-drop-down img {
    height: 30px;
    width: 7px;
    margin: 25px 0 0 25px; }
  .champ-display-container .activity-container {
    height: 60vh;
    background: none;
    display: flex;
    justify-content: center; }
  .champ-display-container .activity-container .champ-display {
    width: 390px;
    height: 390px;
    background: linear-gradient(to bottom right, #836a20, #ce4036);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .champ-display-container .activity-container .champ-display .game-img-display {
    position: relative;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center; }
  .champ-display-container .activity-container .champ-display .game-img-display img {
    width: 370px;
    height: 370px;
    opacity: 0.3; }
  .champ-display-container .activity-container .champ-display .game-img-display .user-location {
    position: absolute;
    top: 65px;
    height: 65px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: white; }
  .champ-display-container .activity-container .champ-display .game-img-display .user-location img {
    top: 10px;
    height: 45px;
    width: 45px;
    opacity: 1;
    margin: 0 0 0 1vw; }
  .champ-display-container .activity-container .champ-display .game-img-display .user-location .location-separator {
    height: 45px;
    width: 3px;
    margin: 0 -2vw 0 0;
    background: #8d562e; }
  .champ-display-container .activity-container .champ-display .game-img-display .user-location .location-address {
    padding: 0 5vw 0 0; }
  .champ-display-container .activity-container .champ-display .game-img-display .user-location .location-address .location-zone {
    font-size: 24px;
    margin: -5px 0;
    font-weight: 400;
    color: #8d562e; }
  .champ-display-container .activity-container .champ-display .game-img-display .user-location .location-address .location-city {
    font-size: 15px;
    color: #8d562e;
    opacity: 0.8; }
  .champ-display-container .activity-container .champ-display .game-img-display .champ-details {
    position: absolute;
    top: 130px;
    height: 100px;
    width: 330px;
    display: block; }
  .champ-display-container .activity-container .champ-display .game-img-display .champ-details .champ-status {
    height: 120px;
    display: inline-flex;
    justify-content: flex-start; }
  .champ-display-container .activity-container .champ-display .game-img-display .champ-details .champ-status img {
    margin: -45px 0 0 50px;
    width: auto;
    height: 55px; }
  .champ-display-container .activity-container .champ-display .game-img-display .champ-details .champ-status h3 {
    margin: 60px 0 0 20px; }
  .champ-display-container .activity-container .champ-display .game-img-display .champ-details .horizontal-decor-line {
    height: 3px;
    width: 300px;
    margin: auto;
    background: grey; }
  .champ-display-container .activity-container .champ-display .game-img-display .champ-details img {
    margin: -2.5vh 120px 0 120px;
    height: 90px;
    width: 90px;
    opacity: 1; }
  .champ-display-container .champ-actions-container {
    height: 12.5vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .champ-display-container .champ-actions-container .challenge-btn {
    height: 50px;
    width: 200px;
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 0 0px 0;
    display: flex;
    justify-content: space-around; }
  .champ-display-container .champ-actions-container .challenge-btn h6 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white; }
  .champ-display-container .champ-actions-container .challenge-btn img {
    height: 25px; }
  .champ-display-container .champ-actions-container .challenge-sent {
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-around; }
  .champ-display-container .champ-actions-container .challenge-sent h6 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white; }
  .champ-display-container .champ-actions-container .countdown-container {
    width: 60vw;
    height: 50px;
    background: rgba(212, 240, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; }
  .champ-display-container .champ-actions-container .countdown-container img {
    height: 20px;
    margin: 0 5px 0 0;
    opacity: 0.7; }
  .champ-display-container .champ-actions-container .countdown-container .countdown-timer {
    font-size: 14px;
    margin: 2px 5px 0 5px;
    color: white; }
  .champ-display-container .champ-actions-container .countdown-container .cooldown-title {
    font-size: 13px;
    letter-spacing: 0.8px;
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.8); }
  .champ-display-container .nav-bar {
    display: block;
    height: 10vh;
    background: rgba(255, 255, 255, 0.3); }
  .champ-display-container .nav-bar .nav-btn-container {
    display: flex;
    justify-content: space-around;
    height: 9vh; }
  .champ-display-container .nav-bar .nav-btn-container button {
    width: 50px;
    height: 50px; }
  .champ-display-container .nav-bar .nav-btn-container .nav-btn {
    position: relative;
    width: 25vw;
    height: 15vw;
    margin: 5px 0 0 0; }
  .champ-display-container .nav-bar .nav-btn-container .nav-btn .search-icon {
    height: 20px;
    width: 20px; }
  .champ-display-container .nav-bar .nav-btn-container .nav-btn .trophy-icon {
    height: 35px;
    margin: -15px 0 0 0; }
  .champ-display-container .nav-bar .nav-btn-container .nav-btn .provoke-icon {
    height: 25px; }
  .champ-display-container .nav-bar .nav-btn-container .nav-btn .button-highlight {
    position: absolute;
    left: 0;
    top: 2.5px;
    height: 40px;
    width: 200px; }
  .champ-display-container .nav-bar .nav-btn-container .separator {
    height: 7vh;
    width: 3px;
    margin: 2vw 1vw;
    background: #0b364c;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px; }
  .champ-display-container .nav-bar .nav-btn-container .ghost-separator {
    height: 7vh;
    width: 3px;
    margin: 1vw; } }
