.text-white {
  color: white; }

@keyframes rotating-wheel {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(1800deg); } }

@keyframes rotating-wheel-infinite {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(216000deg); } }

@media (min-width: 320px) {
  .battle-info {
    position: relative;
    height: 57.5vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .battle-info .champdisplay {
      width: 90vw;
      height: 90vw;
      background: linear-gradient(to bottom right, #14181f, #0c3d55);
      filter: blur(5px);
      border-radius: 50%; }
    .battle-info .white-ring-border {
      position: absolute;
      background: none;
      width: 90vw;
      height: 90vw;
      border-radius: 50%;
      border: 1px solid white; }
    .battle-info .game-overlay-display {
      position: absolute;
      width: 90vw;
      height: 90vw;
      background: rgba(255, 255, 255, 0.35);
      border-radius: 50%; }
    .battle-info .battle-arena-cover {
      position: absolute;
      width: 82vw;
      height: 82vw; }
    .battle-info .gamer-info-container {
      position: absolute;
      width: 90vw;
      height: 90vw; }
      .battle-info .gamer-info-container .upper-container {
        width: 90vw;
        height: 27.5vw; }
        .battle-info .gamer-info-container .upper-container .opponent-container {
          position: absolute;
          width: 60vw;
          height: 25vw;
          background: rgba(12, 61, 85, 0.95);
          border: 1px solid rgba(255, 255, 255, 0.75);
          border-radius: 10px;
          display: flex;
          align-items: center; }
          .battle-info .gamer-info-container .upper-container .opponent-container .opponent-img-container {
            width: 25vw;
            height: 20vw;
            display: flex;
            justify-content: space-around;
            align-items: center; }
            .battle-info .gamer-info-container .upper-container .opponent-container .opponent-img-container img {
              border-radius: 50%;
              border: 1px solid rgba(255, 255, 255, 0.75);
              width: 20vw;
              height: 20vw; }
          .battle-info .gamer-info-container .upper-container .opponent-container .opponent-info-container {
            width: 35vw;
            height: 25vw;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .battle-info .gamer-info-container .upper-container .opponent-container .opponent-info-container .opponent-info-wrapper {
              height: 17.5vw; }
              .battle-info .gamer-info-container .upper-container .opponent-container .opponent-info-container .opponent-info-wrapper .opponent-username {
                font-family: 'Vollkorn', serif;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: white; }
              .battle-info .gamer-info-container .upper-container .opponent-container .opponent-info-container .opponent-info-wrapper .opponent-name {
                font-size: 12px;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: rgba(255, 255, 255, 0.7); }
              .battle-info .gamer-info-container .upper-container .opponent-container .opponent-info-container .opponent-info-wrapper .opponent-lvl {
                font-family: 'Vollkorn', serif;
                margin: 0;
                text-align: center;
                color: white; }
      .battle-info .gamer-info-container .middle-container {
        position: relative;
        width: 90vw;
        height: 35vw;
        justify-content: center; }
        .battle-info .gamer-info-container .middle-container .connect-glyph-container {
          display: flex;
          justify-content: center;
          align-items: center; }
          .battle-info .gamer-info-container .middle-container .connect-glyph-container .wheel-overlay {
            position: absolute;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.35); }
          .battle-info .gamer-info-container .middle-container .connect-glyph-container .connecting-wheel {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, #14181f, #0c3d55);
            color: white; }
            .battle-info .gamer-info-container .middle-container .connect-glyph-container .connecting-wheel img {
              position: absolute;
              width: 110px;
              height: 110px;
              opacity: 1;
              animation: 5s linear rotating-wheel; }
            .battle-info .gamer-info-container .middle-container .connect-glyph-container .connecting-wheel .loading-info {
              padding: 40px 0 0 0; }
              .battle-info .gamer-info-container .middle-container .connect-glyph-container .connecting-wheel .loading-info h5 {
                font-size: 12px;
                letter-spacing: 0.5px;
                margin: 0px;
                text-align: center;
                color: white; }
          .battle-info .gamer-info-container .middle-container .connect-glyph-container .battling-wheel {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, #14181f, #0c3d55);
            color: white; }
            .battle-info .gamer-info-container .middle-container .connect-glyph-container .battling-wheel img {
              position: absolute;
              width: 110px;
              height: 110px;
              opacity: 1;
              animation: 600s linear infinite rotating-wheel-infinite; }
            .battle-info .gamer-info-container .middle-container .connect-glyph-container .battling-wheel .loading-info {
              padding: 45px 0 0 0; }
              .battle-info .gamer-info-container .middle-container .connect-glyph-container .battling-wheel .loading-info h5 {
                font-size: 13px;
                letter-spacing: 1px;
                margin: 0px;
                text-align: center;
                color: white; }
          .battle-info .gamer-info-container .middle-container .connect-glyph-container .winner-circle {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, #14181f, #0c3d55);
            color: white; }
            .battle-info .gamer-info-container .middle-container .connect-glyph-container .winner-circle img {
              position: absolute;
              width: 110px;
              height: 110px;
              opacity: 1;
              animation: 600s linear infinite rotating-wheel-infinite; }
            .battle-info .gamer-info-container .middle-container .connect-glyph-container .winner-circle .loading-info {
              padding: 40px 0 0 0; }
              .battle-info .gamer-info-container .middle-container .connect-glyph-container .winner-circle .loading-info h5 {
                font-size: 13px;
                letter-spacing: 1px;
                margin: 0px;
                text-align: center;
                color: white; }
      .battle-info .gamer-info-container .lower-container {
        width: 90vw;
        height: 27.5vw;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; }
        .battle-info .gamer-info-container .lower-container .user-container {
          width: 60vw;
          height: 25vw;
          background: rgba(20, 24, 31, 0.95);
          border: 1px solid rgba(255, 255, 255, 0.75);
          border-radius: 10px;
          display: flex;
          align-items: center; }
          .battle-info .gamer-info-container .lower-container .user-container .user-img-container {
            width: 25vw;
            height: 20vw;
            display: flex;
            justify-content: space-around;
            align-items: center; }
            .battle-info .gamer-info-container .lower-container .user-container .user-img-container img {
              border-radius: 50%;
              border: 1px solid rgba(255, 255, 255, 0.75);
              width: 20vw;
              height: 20vw; }
          .battle-info .gamer-info-container .lower-container .user-container .user-info-container {
            width: 35vw;
            height: 25vw;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .battle-info .gamer-info-container .lower-container .user-container .user-info-container .user-info-wrapper {
              height: 17.5vw; }
              .battle-info .gamer-info-container .lower-container .user-container .user-info-container .user-info-wrapper .username {
                font-family: 'Vollkorn', serif;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: white; }
              .battle-info .gamer-info-container .lower-container .user-container .user-info-container .user-info-wrapper .actual-name {
                font-size: 12px;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: rgba(255, 255, 255, 0.7); }
              .battle-info .gamer-info-container .lower-container .user-container .user-info-container .user-info-wrapper .actual-lvl {
                font-family: 'Vollkorn', serif;
                margin: 0;
                text-align: center;
                color: white; }
    .battle-info img {
      width: 90vw;
      height: 90vw; }
  .battle-actions-container {
    height: 12.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    .battle-actions-container button {
      height: 50px;
      width: 200px; }
    .battle-actions-container .challenge-btn {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0 0 0px 0;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .battle-actions-container .challenge-btn .btn-description {
        margin: 0;
        letter-spacing: 1.5px;
        color: white; }
      .battle-actions-container .challenge-btn img {
        height: 25px; }
    .battle-actions-container .challenge-sent {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0 0 0 0;
      display: flex;
      justify-content: space-around; }
      .battle-actions-container .challenge-sent h6 {
        margin: 0;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: white; } }
