.fullscreen-overlay-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); }
  .fullscreen-overlay-container .fullscreen-logo {
    width: 60px;
    height: 60px; }
