@keyframes rotating-wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}


@media(min-width: 320px){
  .battle-info {
    position: relative;
    height: 57.5vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .champdisplay{
      width: 93vw;
      height: 93vw;
      background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
      filter: blur(5px);
      border-radius: 50%;
    }
    .white-ring-border {
      position: absolute;
      background: none;
      width: 93vw;
      height: 93vw;
      border-radius: 50%;
      border: 1px solid white;
    }
    .game-overlay-display {
      // display: none;
      position: absolute;
      width: 93vw;
      height: 93vw;
      background: rgba(255,255,255,0.35);
      border-radius: 50%;
    }
    .gamer-info-container {
      position: absolute;
      width: 90vw;
      height: 90vw;
      .upper-container {
        width: 90vw;
        height: 27.5vw;
      }
      .middle-container {
        position: relative;
        width: 90vw;
        height: 35vw;
        justify-content: center;
        .connect-glyph-container{
          display: flex;
          justify-content: center;
          align-items: center;
          .wheel-overlay {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: rgba(255,255,255,0.35);
          }
          .connecting-wheel {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
            color: white;
            img {
              position: absolute;
              height: 150px;
              width: 150px;
              opacity: 1;
              animation: 10s rotating-wheel;
            }
            .loading-info {
              padding: 50px 0 0 0;
              h5 {
                font-size: 16px;
                margin: 0px;
                text-align: center;
                color: white;
              }
            }
          }
        }
      }
      .lower-container {
        width: 90vw;
        height: 27.5vw;
      }
    }
    img {
        width: 90vw;
        height: 90vw;
    }
  }
  .actions-container {
    height: 12.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    button {
      height: 50px;
      width: 200px;
    }
    .challenge-btn {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0 0 0px 0;
      display: flex;
      justify-content: space-around;
      h6 {
        margin: 0;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: white;
      }
      img {
        height: 25px;
      }
    }
    .challenge-sent {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0 0 0 0;
      display: flex;
      justify-content: space-around;
      h6 {
        margin: 0;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: white;
      }
    }
  }
}

@media(min-width:375px){
  .player-containers {
    position: absolute;
    top: 100px;
    height: 143px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    .player-container {
      height: 143px;
      width: 143px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .player-details {
        height: 135px;
        width: 135px;
        border-radius: 50%;
        background: white;
        img {
          height: 60px;
          width: 60px;
          margin: 15px 0 10px 38px;
          opacity: 1;
        }
        h5 {
          font-weight: 400;
          text-align: center;
          margin: 0;
        }
        h6 {
          font-size: 11px;
          text-align: center;
          margin: 2px 0;
        }
      }
    }
  }
  .status-activity {
  position: absolute;
  top: 225px;
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  .status-area {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    .battle-ready-btn {
      margin: 10px 0 0 0;
      width: 182px;
      height: 45px;
      background: white;
      border: 3px solid #B15B30;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      h5 {
        margin: 0;
        font-weight: 700;
        color: #B15B30;
        letter-spacing: 0.3px;
      }
    }
    .tracking-progress {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: white;
      img {
        position: absolute;
        height: 143px;
        width: 150px;
        margin: 3px 0 0 0;
        opacity: 1;
      }
      .tracking-info {
        padding: 60px 0 0 0;
        h5 {
          margin: 0px;
          text-align: center;
          color: black;
          }
        }
      }
    }
  }
}

.status-activity {
  position: absolute;
  top: 200px;
  height: 150px;
  width: 370px;
  display: flex;
  justify-content: center;
  .status-area {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    .connecting-wheel {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: #9F9F9F;
      color: white;
      img {
        position: absolute;
        height: 150px;
        width: 150px;
        opacity: 1;
      }
      .loading-info {
        padding: 50px 0 0 0;
        h5 {
          margin: 0px;
          text-align: center;
          color: white;
        }
      }
    }
    .battle-ready-btn {
      margin: 10px 0 0 0;
      width: 182px;
      height: 45px;
      background: white;
      border: 3px solid #B15B30;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      h5 {
        margin: 0;
        font-weight: 700;
        color: #B15B30;
        letter-spacing: 0.3px;
      }
    }
    .tracking-progress {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: white;
      img {
        position: absolute;
        height: 143px;
        width: 150px;
        margin: 3px 0 0 0;
        opacity: 1;
      }
      .tracking-info {
        padding: 60px 0 0 0;
        h5 {
          margin: 0px;
          text-align: center;
          color: black;
        }
      }
    }
  }
  .battling-end-btn {
    position: absolute;
    margin: 80px 0 0 -20px;
    width: 182px;
    height: 45px;
    background: white;
    border: 3px solid #B15B30;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    h5 {
      margin: 0;
      font-weight: 700;
      color: #B15B30;
      letter-spacing: 0.3px;
    }
  }
}
