.text-white {
  color: white;
}

@keyframes rotating-wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}

@keyframes rotating-wheel-infinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(216000deg);
  }
}


@media(min-width: 320px){
  .battle-info {
    position: relative;
    height: 57.5vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .champdisplay{
      width: 90vw;
      height: 90vw;
      background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
      filter: blur(5px);
      border-radius: 50%;
    }
    .white-ring-border {
      position: absolute;
      background: none;
      width: 90vw;
      height: 90vw;
      border-radius: 50%;
      border: 1px solid white;
    }
    .game-overlay-display {
      // display: none;
      position: absolute;
      width: 90vw;
      height: 90vw;
      background: rgba(255,255,255,0.35);
      border-radius: 50%;
    }
    .battle-arena-cover {
      position: absolute;
      width: 90vw;
      height: 90vw;
    }
    .gamer-info-container {
      width: 90vw;
      height: 90vw;
      .upper-container {
        width: 90vw;
        height: 27.5vw;
        .user-container {
          width: 60vw;
          height: 25vw;
          background: hsla(218,20,10, 0.95);
          border: 1px solid rgba(255,255,255,0.75);
          border-radius: 10px;
          display: flex;
          align-items: center;
          .user-img-container {
            width: 25vw;
            height: 20vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img {
              border-radius: 50%;
              border: 1px solid rgba(255,255,255,0.75);
              width: 20vw;
              height: 20vw;
            }
          }
          .user-info-container {
            width: 35vw;
            height: 25vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .user-info-wrapper{
              height: 17.5vw;
              .username {
                font-family: 'Vollkorn', serif;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: white;
              }
              .actual-name {
                font-size: 12px;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: rgba(255,255,255,0.7);
              }
              .actual-lvl {
                font-family: 'Vollkorn', serif;
                margin: 0;
                text-align: center;
                color: white;
              }
            }
          }
        }
      }
      .middle-container {
        position: relative;
        width: 90vw;
        height: 35vw;
        justify-content: center;
        .connect-glyph-container{
          width: inherit;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          .wheel-overlay {
            position: absolute;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: rgba(255,255,255,0.35);
          }
          .connecting-wheel {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
            color: white;
            img {
              position: absolute;
              width: 110px;
              height: 110px;
              opacity: 1;
              animation: 5s linear rotating-wheel;
            }
            .loading-info {
              padding: 40px 0 0 0;
              h5 {
                font-size: 12px;
                letter-spacing: 0.5px;
                margin: 0px;
                text-align: center;
                color: white;
              }
            }
          }
          .battling-wheel {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
            color: white;
            img {
              position: absolute;
              width: 110px;
              height: 110px;
              opacity: 1;
              animation: 600s linear infinite rotating-wheel-infinite;
            }
            .loading-info {
              padding: 45px 0 0 0;
              h5 {
                font-size: 13px;
                letter-spacing: 1px;
                margin: 0px;
                text-align: center;
                color: white;
              }
            }
          }
          .winner-circle {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, hsl(218,20,10), hsl(200,75,19));
            color: white;
            img {
              position: absolute;
              width: 110px;
              height: 110px;
              opacity: 1;
              animation: 600s linear infinite rotating-wheel-infinite;
            }
            .loading-info {
              padding: 40px 0 0 0;
              h5 {
                font-size: 13px;
                letter-spacing: 1px;
                margin: 0px;
                text-align: center;
                color: white;
              }
            }
          }
        }
      }
      .lower-container {
        width: 90vw;
        height: 27.5vw;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .opponent-container {
          width: 60vw;
          height: 25vw;
          background: hsla(200,75,19, 0.95);
          border: 1px solid rgba(255,255,255,0.75);
          border-radius: 10px;
          display: flex;
          align-items: center;
          .opponent-img-container {
            width: 25vw;
            height: 20vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img {
              border-radius: 50%;
              border: 1px solid rgba(255,255,255,0.75);
              width: 20vw;
              height: 20vw;
            }
          }
          .opponent-info-container {
            width: 35vw;
            height: 25vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .opponent-info-wrapper{
              height: 17.5vw;
              .opponent-username {
                font-family: 'Vollkorn', serif;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: white;
              }
              .opponent-name {
                font-size: 12px;
                letter-spacing: 1px;
                margin: 0;
                text-align: center;
                color: rgba(255,255,255,0.7);
              }
              .opponent-lvl {
                font-family: 'Vollkorn', serif;
                margin: 0;
                text-align: center;
                color: white;
              }
            }
          }
        }
      }
    }
    img {
        width: 90vw;
        height: 90vw;
    }
  }
  .battle-actions-container {
    height: 12.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      height: 50px;
      width: 200px;
    }
    .challenge-btn {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0 0 0px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .btn-description {
        margin: 3px 15px;
        letter-spacing: 1.5px;
        color: white;
      }
      img {
        height: 25px;
      }
    }
    .challenge-sent {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0 0 0 0;
      display: flex;
      justify-content: space-around;
      h6 {
        margin: 0 17px;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: white;
      }
    }
  }
}
