.status-wrapper {
  height: 80vh;
  background: white;
  display: flex;
  justify-content: center;
}
.status-container {
  width: 360px;
}
.status-bar {
  height: 45px;
  width: 360px;
  margin: 45px 0 30px 0;
  display: inline-flex;
  justify-content: center;
  h4 {
    margin: 8px 15px;
    color: #8D572F;
    opacity: 0.8;
  }
  .status-separator {
    height: 25px;
    width: 2px;
    background: #8D572F;
    margin: 10px 0;
  }
  .online-tab {
    h4 {
      font-weight: 700;
    }
  }
  .offline-tab {
    h4 {
      font-weight: 200;
    }
  }
}

.user-searched-details {
  height: 40px;
  width: 360px;
  border-top: 2px solid #8D572F;
  border-bottom: 2px solid #8D572F;
  display: inline-flex;
  justify-content: space-around;
  .online-circle {
    height: 12.5px;
    width: 12.5px;
    margin: 15px;
    border-radius: 50%;
    background: #4CD964;
  }
  h6 {
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #8D572F;
  }
  .ghost-circle {
    height: 12.5px;
    width: 12.5px;
    margin: 15px;
  }
}
