.border-top-bottom-online {
  border-top: 0px solid rgba(255, 255, 255, 1);
  border-bottom: 0px solid rgba(255, 255, 255, 1);
}

.border-top-bottom-offline {
  border-top: 0px solid rgba(255, 255, 255, 0.5);
  border-bottom: 0px solid rgba(255, 255, 255, 0.5);
  h6 {
    opacity: 0.5;
  }
}
.status-wrapper {
  height: 90vh;
  background: none;
  display: flex;
  justify-content: center;
}
.status-container {
  width: 360px;
}
.status-bar-online {
  height: 65px;
  width: 360px;
  margin: 70px 0 30px 0;
  display: inline-flex;
  justify-content: center;
  h4 {
    margin: 8px 15px;
    color: white;
    opacity: 0.8;
  }
  .status-separator {
    position: absolute;
    height: 25px;
    width: 2px;
    background: white;
    margin: 10px 0;
  }
  .online-tab {
    h4 {
        font-weight: 700;
    }
  }
  .offline-tab {
    h4 {
        font-weight: 200;
    }
  }
}

.status-bar-offline {
  height: 45px;
  width: 360px;
  margin: 120px 0 30px 0;
  display: inline-flex;
  justify-content: center;
  h4 {
    margin: 8px 15px;
    color: white;
    opacity: 0.8;
  }
  .status-separator {
    position: absolute;
    height: 25px;
    width: 2px;
    background: white;
    margin: 10px 0;
  }
  .online-tab {
    h4 {
        font-weight: 200;
    }
  }
  .offline-tab {
    h4 {
        font-weight: 700;
    }
  }
}

.user-searched-details {
  height: 40px;
  width: 360px;
  margin: 10px 0;
  display: inline-flex;
  justify-content: space-around;
  background: rgba(255,255,255, 0.05);
  .online-circle {
    height: 12.5px;
    width: 12.5px;
    margin: 15px;
    border-radius: 50%;
    background: #4CD964;
  }
  .offline-circle {
    height: 12.5px;
    width: 12.5px;
    margin: 15px;
    border-radius: 50%;
    background: red;
  }
  h6 {
    position: absolute;
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: white;
  }
  .ghost-name-div {
    width: 100px;
  }
  .img-circle {
    height: 30px;
    width: 30px;
    margin: 5px 0 5px 10px;
  }
  img {
    width: 30px;
    margin: 5px 0 5px 10px;
  }
}
