@keyframes twitter-btn-move {
  from {
    bottom: 12vh;
  }
  to {
    bottom: 70vh;
  }
}
.twitter-move-animation {
  animation: 0.5s twitter-btn-move;
}
.twitter-undo-animation {
  animation: 1s reverse twitter-btn-move;
}


.twitter-dialog-container{
  position: fixed;
  z-index: 1;
  top: 20vh;
  width: 80vw;
  height: 200px;
  margin: 0px 0;
  background: white;
  border-radius: 10px;
  .uk-margin-large {
    margin-bottom: 10px;
  }
  .social-media-input {
    margin: 10px 0;
    text-align: center;
    background: none;
  }
  .submit-tweet {
    background: rgb(38,178,248);
    height: 50px;
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      font-size: 16px;
      color: white;
    }
  }
}

.champ-actions-container {
  height: 12.5vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    height: 50px;
    width: 200px;
  }
  .challenge-btn {
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 0 0px 0;
    display: flex;
    justify-content: space-around;
    h6 {
      margin: 0;
      font-size: 16px;
      letter-spacing: 1.5px;
      color: white;
    }
    img {
      height: 25px;
    }
  }
  .challenge-sent {
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-around;
    h6 {
      margin: 0;
      font-size: 16px;
      letter-spacing: 1.5px;
      color: white;
    }
  }
  .twitter-btn-container {
    position: fixed;
    z-index: 1;
    bottom: 12vh;
    left: 1vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(38,178,248);
    .twitter-btn {
        img {
          position: absolute;
          height: 25px;
          width: 25px;
          margin: -10px 5px 0 5px;
        }
      }
    }
  .twitter-new-position {
    position: fixed;
    z-index: 1;
    bottom: 70vh;
    left: 1vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(38,178,248);
    .twitter-btn {
        img {
          position: absolute;
          height: 25px;
          width: 25px;
          margin: -10px 5px 0 5px;
        }
    }
  }
}
